.containerChatbot {
  position: absolute;
  bottom: 0px;
  right: 270px;
  width: 10px;
  z-index: 99;
}

.paper {
  padding: 2px;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.fixedHeight {
  height: 240px;
}

.fixedWidth {
  width: 1300px
}

.fixedDimPaper {
  padding: 2px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  height: 240px;
  width: 1300px;
}

.fixedHeightPaper {
  padding: 2px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  height: 240px;
}