.text {
  color: aquamarine;
}

.row{
  padding: 5px;
}

.bgImage {
  //some other properties
}

.paper {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.button {
  width: 70%;
  height: 7vh;
}