.footer {
    position: absolute;
    width: 100%;
    background-color: #728e72;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    bottom: 0;
}

.mainGrid {
    marginTop: 3vh,
}

.language {
    background: #aebfae;
    color: white
}
